<!DOCTYPE html>
<html>

<head>
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="/static/canvasstyle.css">
    <script src="/static/gameScript.js"></script>
    <script src="/static/UnitDB.js"></script>
    <script src="/static/handleClick.js"></script>
    <script src="/static/canvasScript2.js"></script>
    <script src="/static/selectedfunctions.js"></script>
    <script src="/static/canvas.js"></script>
    
    
</head>

<body>

    <canvas id="myCanvas" width="500" height="500" style="border:0px solid #323232;">
        Your browser does not support the HTML canvas tag.</canvas>

    <script>

        
    </script>

</body>

</html>