<!DOCTYPE html>
<html>

<head>
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="icon" href="/static/assets/construction_worker.png">

    <link rel="stylesheet" href="/static/canvasstyle.css">
    <script src="/static/tactics/gameScript.js"></script>
    <script src="/static/tactics/handleClick.js"></script>
    <script src="/static/tactics/canvasScript2.js"></script>
    <script src="/static/tactics/selectedfunctions.js"></script>
    <script src="/static/tactics/canvas.js"></script>
    
    <meta name="player_id" content={{ player_id }}>
    <meta name="game_id" content={{ game_id }}>
    <!--Replace Here-->
</head>

<body>

    <canvas id="myCanvas" width="500" height="500" style="border:0px solid #323232;">
        Your browser does not support the HTML canvas tag.</canvas>

    <script>

        
    </script>

</body>

</html>