<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/static/assets/construction_worker.png">
    <link rel="stylesheet" href="/static/tussleStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div style="text-align: center;">
        <div id="middle_div" class="container py-4 text-center" style="display: inline-block; margin:0 auto; background-color: #555555">
            <img src="/static/images/TussleLogo3.png">

            {% for game_name in gameList %}
                <div>
                    <button class="cool_button" onclick="location.href='/game/{{ game_name }}'" type="button">
                    Game {{ game_name }}</button>
                </div>
            {% endfor %}
            {% for game_name in gameList2 %}
                <div>
                    <button class="cool_button blue_button" onclick="location.href='/game2/{{ game_name }}'" type="button">
                    Game {{ game_name }}</button>
                </div>
            {% endfor %}
            <div>
                <button class="cool_button v2" onclick="location.href='/newgame/'" type="button">New Game</button>
            </div>
        </div>
    </div>


</body>

</html>