<!DOCTYPE html>
<html>
    <head>
        <style>
            label {
                font-family: "Montserrat",Arial, Helvetica, sans-serif;
                font-size: 30px;
            }
            input {
                display:inline-block;
                padding: 5px 10px;
                line-height: 200%;
            }
        </style>
    </head>
    <body>
        <div style="text-align: center;">
            <div class="container py-4 text-center" style="display: inline-block; margin:0 auto; background-color: #555555">
                <img src="/static/images/TussleLogo2.png">

                <form method="POST" action="/newgame">
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}
                    {{ form.player_count.label }} {{ form.player_count(size=20) }}
                    <div>{{ form.cloud_mode.label }} {{ form.cloud_mode(size=24) }}</div>
                    <input type="submit" value="Go">
                </form>

            </div>
        </div>

        
    </body>
</html>


